/* CSS Document */

body {
	background-color:#1b1d22; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size:10px;
}

a{
	background-color:#AAAABB;
	color: black; 
	text-decoration: none;
	padding-left:5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;	
}
.coftext{
	background-color: #ffffcc;
	color: black; 
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;	
}

.header{
	background-image:url(images/Header.jpg); 
	background-repeat:no-repeat; 
	height:80px;
	top: 0px;
	vertical-align: top;
}

.menu{
	position:relative; 
	left: 570px; 
	top: 0px; 
	width: 430px; 
	height: 34px; 
	background-repeat:no-repeat;
}

img {
	border:none;
	margin:0px;
	padding:0px;
}

#content {
	margin-left: 5px;
	background:url(images/BGPlate2.jpg);
	background-repeat: no-repeat;
	background-attachment:local;
	background-position: 0px 80px;
	top: 80px;
	height: 740px;
	width: 1072px;
}

#pane {
	position: absolute;
	top: 70px;
	left:27px;
	color: #AAAABB;
	margin:10px;
	font-size:14px;
	font-weight: bold;
}

#topctl {
	position: absolute;
	top: 267px;
	left:48px;
}
#botctl {
	position: absolute;
	top: 412px;
	left:48px;
}
#graph1{	
	position: absolute;
	top: 38px;
	left: 478px;
}
#graph2{	
	position: absolute;
	top: 385px;
	left: 478px;
}
#buttons{	
	position: absolute;
	top: 600px;
	left: 77px;
}
#coffee{	
	position: absolute;
	top: 660px;
	left: 77px;
}
#magChart{	
	position: absolute;
	top: 221px;
	left: 1008px;
}
#Updated{	
	color:#FFFFFF;
	position: absolute;
	top: 167px;
	left: 67px;
}